﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="QuickLinksLoggedIn.ascx.vb" Inherits="QuickLinksLoggedIn" %>
<table width="218" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" bordercolor="#FF9900" bgcolor="#FFFFFF"><span class="Button"><span class="style2"> <span class="SectionHeader style37"><strong>&nbsp;&nbsp;&nbsp;</strong></span> </span></span></td>
            </tr>
            <tr>
              <td height="15">&nbsp;</td>
            </tr>
            <tr>
              <td height="382" valign="top" class="Button style5 style39"><p>&nbsp;</p>
                <p>&nbsp;</p>
                </td>
            </tr>
          </table>