<%@ Page Language="VB" AutoEventWireup="false" validaterequest="false" CodeFile="SageNotificationPageServer.aspx.vb" Inherits="SageNotificationPageServer" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
</html>
