﻿<%@ Page Title="" Language="VB" AutoEventWireup="false" CodeFile="SagePayServer2.aspx.vb" Inherits="SagePayServer2" %>

<%@ Register src="MenuLogged2.ascx" tagname="MenuLogged" tagprefix="uc1" %>

<%@ Register src="MenuPreLogged2.ascx" tagname="MenuPreLogged" tagprefix="uc4" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<title>Leeds City Credit Union - Online Services</title>   
<link href="scu2.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/JavaScript">
<!--
    function MM_preloadImages() { //v3.0
        var d = document; if (d.images) {
            if (!d.MM_p) d.MM_p = new Array();
            var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
        }
    }
//-->
</script>
</head>
<body>
<form id="form1" runat="server">
    <div>
        <asp:ScriptManager ID="ScriptManager1" runat="server" />
    </div>
    <table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="240">&nbsp;</td>
        <td width="177">&nbsp;</td>
        <td width="443" valign="bottom">&nbsp;</td>
      </tr>
      <tr>
        <td><img src="Images/LeedsLogo.jpg" width="200" height="100"></td>
        <td colspan="2"><div align="right" class="Button style15">
            <table width="400" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="400" height="60" valign="top">&nbsp;</td>
              </tr>
              <tr>
                <td width="400">&nbsp;</td>
              </tr>
              <tr>
                <td width="400"><div align="right" class="style34 style35">
                </div></td>
              </tr>
            </table>
        </div></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="30" valign="bottom"><table width="879" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="21">&nbsp;</td>
        <td width="858"><br>
          .............................................................................................................................................................................................................................................................................................<br>
          <br>
          <strong>Online Services<br>
          </strong>.............................................................................................................................................................................................................................................................................................<strong><br>
          <br>
          </strong></td>
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <td height="15">&nbsp;</td>
  </tr>
  
  <tr>
    <td><table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top">
    <table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="130" valign="top">
                &nbsp;</td>
            <td width="23">
                &nbsp;</td>
            <td valign="top">
                <table width="466" border="0" cellspacing="0" cellpadding="0">
          <!-- TemplateBeginEditable name="Main body" -->          
                    <tr>
                        <td height="25" valign="middle" bgcolor="#0068B6" class="Button style5">
                            <span class="style37 style80">&nbsp;Make a payment to LCCU - Confirm</span></td>
                    </tr>
                    <tr>
                        <td height="25" valign="middle" class="Button style5">
                            Please confirm your details to proceed</td>
                    </tr>
                    <tr>
                        <td height="10" valign="middle" class="BodyText">
                            <table style="width:100%;">
                                <tr>
                                    <td>
                                        <asp:Label ID="lblMessege" runat="server" CssClass="errormsg" Visible="False"></asp:Label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="BodyText" style="width:100%;">
                                            <tr>
                                                <td width="30%">
                                                    Member Number:</td>
                                                <td>
                                                    <asp:Literal ID="litMemberNumber" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Reason for payment:</td>
                                                <td>
                                                    <asp:Literal ID="litReason" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Amount to pay:</td>
                                                <td>
                                                    <asp:Literal ID="litAmount" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    First name:</td>
                                                <td>
                                                    <asp:Literal ID="litFirstName" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Surname:</td>
                                                <td>
                                                    <asp:Literal ID="litSurname" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Email:</td>
                                                <td>
                                                    <asp:Literal ID="litEmail" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Billing address line 1:</td>
                                                <td>
                                                    <asp:Literal ID="litAddressLine1" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Billing address line 2:</td>
                                                <td>
                                                    <asp:Literal ID="litAddressLine2" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Billing city:</td>
                                                <td>
                                                    <asp:Literal ID="litCity" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Billing post code:</td>
                                                <td>
                                                    <asp:Literal ID="litPostCode" runat="server"></asp:Literal>
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    &nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <asp:Button ID="btnBack" runat="server" Text="Back" Width="70px" />
                                                </td>
                                                <td>
                                                    <asp:Button ID="btnSubmit" runat="server" Text="Confirm" 
                                                        Width="70px" />
                                                </td>
                                                <td>
                                                    &nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <br>Leeds City Credit Union will never ask you for your memorable data or Password in an e-mail. Never disclose this information to anyone.<br />
                            <br />For security reasons, when you have finished using Internet Banking always select LOG OUT.
                        </td>
                    </tr>
          <!-- TemplateEndEditable -->
                </table>
            </td>
            <td width="23">
                &nbsp;</td>
            <td width="218" valign="top">
                &nbsp;</td>
        </tr>
    </table>

    </td>        
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="10" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="30"><div align="center">.............................................................................................................................................................................................................................................................................................</div></td>
      </tr>
      <tr>
        <td height="30" valign="top" class="BodyText1 style23 style44 style13 style66 style56">
            <table width="95%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="60%"><span class="style84">Leeds City Credit Union is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority.</span></td>
            </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</form>
</body>
</html>


