.Button {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
}
.style13 {color: #999999}
.style20 {	color: #666666;
	font-size: 10px;
}
.style21 {	font-size: 12px;
	color: #999999;
}
.style34 {color: #6699CC}
body {
	background-image:    url(Images/Background%20grain.jpg);
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style35 {font-size: 16px}
.style36 {color: #0068B6}
a:link {
	color: #666666;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF9933;
}
a:active {
	text-decoration: none;
}
.style37 {color: #FFFFFF}
.style39 {color: #000000}
.OrangeText {color: #FF9933}

.style44 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
}
.style45 {color: #FF0099}
.style46 {color: #DDDEE0}
.style47 {color: #FF9900}
.BodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	width: 465px;
}
.MemChar
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
input[type="password"]
{
	width: 149px;
}

.GridLink:link {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
	text-decoration:underline;
}

.GridLink:visited {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
	text-decoration:underline;
}

.GridLink:hover {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FF9933;
	text-decoration:none;
}