﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TestPDF.aspx.vb" Inherits="TestPDF" %>


<head runat="server">

</head>
<form runat="server">
    <table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
            <td width="130" valign="top">
                &nbsp;</td>
            <td width="23">
                                &nbsp;</td>
                                            <td valign="top">
                                            <table width="466" border="0" cellpadding="0" cellspacing="0">
          <!-- TemplateBeginEditable name="Main body" -->
          <tr>
            <td width="466" height="25" valign="middle" bgcolor="#0068B6" class="Button style5"><span class="style37 style81"></span><span class="style37 style80">&nbsp;&nbsp;Register </span></td>
          </tr>
          <tr>
            <td height="26" valign="middle" class="BodyText">&nbsp;</td>
          </tr>
          <tr>
            <td height="26" valign="middle" class="BodyText"><p><strong>Please note: <span class="style82">ALL</span> fields are required except where stated</strong></p>
              <p>This registration application form must be fully completed. Failure to disclose all required information may delay approval of your loan application.</p></td>
          </tr>
          <tr>
            <td height="26" valign="middle" class="BodyText">&nbsp;</td>
          </tr>
          <tr>
            <td height="10" valign="middle" bordercolor="#BABBBD" class="BodyText"><table width="466" height="159" border="1" cellpadding="0" cellspacing="0" bordercolor="#BBBCBE">
                <tr>
                  <td width="506" height="300" valign="top">
                      <table style="width:100%;">
                          <tr><td>
                              <table style="width: 100%;">
                                  <tr>
                                      <td>
                                          <asp:Label ID="lblMessege" runat="server" CssClass="errormsg" Visible="False"></asp:Label>
                                      </td>
                                  </tr>
                                  </table>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  &nbsp;</td>
                          </tr>
                          <tr>
                              <td>
                                  &nbsp;</td>
                          </tr>
                          <tr>
                              <td>
                                                      &nbsp;</td>
                          </tr>
                          <tr>
                              <td>
                                                                  <asp:Button ID="btnNext" runat="server" Text="Submit" Width="70px" />
                              </td>
                          </tr>
                      </table>
                    </td>
                </tr>
              </table>
                </td>
          </tr>
          <!-- TemplateEndEditable -->
        </table>
            </td>
            <td width="23">
                &nbsp;</td>
            <td width="218" valign="top">
                &nbsp;</td>
        </tr>
    </table>
</form>

