﻿.errormsg
{
    color : #e2001a; 
    text-decoration : none; 
    font-weight : normal; 
    font-size : 12px; 
    padding : 0 0 0 0; 
    font-family:  Arial, Helvetica, sans-serif;    
}
/*Gridview Styles*/
.GridView_Header
{
    background-color: #FFFFFF; 
    font-weight: bold; 
    font-size: 12px; 
    color: #666666; 
    font-family:  Arial, Helvetica, sans-serif;    
}

.GridView_Header a:link {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF;     
    font-family:  Arial, Helvetica, sans-serif;    
    text-decoration : none;
}

.GridView_Header a:visited {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;   
    text-decoration : none;
}

.GridView_Header a:hover {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;   
    text-decoration : underline;
}

.GridView_Header a:active {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;   
    text-decoration : underline;
}
.GridView_Row
{
    font-weight: normal; 
    font-size: 12px; 
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif;    
}


/*Gridview Styles*/
.GridViewAccounts_Header
{
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;    
}

.GridViewAccounts_Header a:link {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF;     
    font-family:  Arial, Helvetica, sans-serif;    
    text-decoration : none;
}

.GridViewAccounts_Header a:visited {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;   
    text-decoration : none;
}

.GridViewAccounts_Header a:hover {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;   
    text-decoration : underline;
}

.GridViewAccounts_Header a:active {
    background-color: #DDDEE0; 
    font-weight: bold; 
    font-size: 12px; 
    color: #FFFFFF; 
    font-family:  Arial, Helvetica, sans-serif;   
    text-decoration : underline;
}
.GridViewAccounts_Row
{
    font-weight: normal; 
    font-size: 12px; 
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif;    
}
/*Validation Summary*/
.summaryerrors {
 border: 2px solid red;
 color: red;
 margin: 5px 0px;
 padding: 15px;
 /*background: #fff url(~/Images/error.png) no-repeat 5px 50%;*/
}

.summaryerrors ul {
 margin: 0;
 padding: 0;
 margin-left: 50px;
 list-style: square;
}

.modalBackground {
	        background-color:Gray;
	        filter:alpha(opacity=70);
	        opacity:0.7;
        }