﻿<%@ control language="VB" autoeventwireup="false" inherits="MenuLogged2, App_Web_fwlbwypi" %>
<link href="scu2.css" rel="stylesheet" type="text/css" />
<table width="130" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="15" class="Button">&nbsp;</td>
          </tr>
          <tr>
            <td height="28" class="Button">
                <img src="Images/wee-glasgow-loan-logo.png" height="63" style="width: 105px"></td>
          </tr>
          <tr>
            <td height="15" class="Button">&nbsp;</td>
          </tr>
          <tr>
            <td height="28" class="Button"><a href="PDL/Default.aspx?CU=PCU" 
                    class="Button">Apply for </a>WeeLoan</td>
          </tr>
          <tr>
            <td height="28" class="Button"><a href="WorldPayDirect1.aspx" class="Button">Card payments</a></td>
          </tr>
          <tr>
            <td height="28" class="Button">
                <table style="width:130px;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="left">
                            &nbsp;</td>
                        <td align="center">
                            &nbsp;</td>
                        <td align="right">
                            &nbsp;</td>                        
                    </tr>  
                </table>
              </td>
          </tr>
          
          
        </table>

