.Button {font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
}
.style13 {color: #999999}
body {
	background-image: url(Images/Background%20grain.jpg);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
a:link {
	text-decoration: none;
	color: #666666;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF7081;
}
a:active {
	text-decoration: none;
}
.style34 {color: #6699CC}
.style80 {color: #FFFFFF}
.style82 {font-family: Arial, Helvetica, sans-serif; font-weight: bold; font-size: 10px; color: #999999; }
.style83 {color: #EA0037}
.style84 {font-size: 9px}
.style21 {font-size: 12px;
	color: #999999;
}
.style71 {	color: #EA0037;
	font-size: 18px;
}
.style85 {font-weight: bold}
.style86 {color: #CD001B}
.style87 {
	color: #CE001B;
	font-weight: bold;
}
.style89 {font-size: 12px; color: #333333; font-family: Arial, Helvetica, sans-serif;}
.style90 {font-size: 12px; color: #666666; font-family: Arial, Helvetica, sans-serif;}
.BodyText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	width: 465px;
}
.MemChar
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FF0000;
}
input[type="password"]
{
	width: 149px;
}

.GridLink:link {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
	text-decoration:underline;
}

.GridLink:visited {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #666666;
	text-decoration:underline;
}

.GridLink:hover {	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FF9933;
	text-decoration:none;
}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}
#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}