﻿<%@ page language="VB" autoeventwireup="false" inherits="WorldPayNotification, App_Web_fwlbwypi" stylesheettheme="Grey" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div style="height: 121px">
    
        <br />
        <br />
    
    </div>
    </form>
</body>
</html>
