﻿<%@ page language="VB" autoeventwireup="false" inherits="WorldPayRedirectNotification, App_Web_fwlbwypi" validaterequest="false" stylesheettheme="Grey" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
