/*
input[type=text]
{
	background-image: url('../Images/IE-input-bkg.gif') !important;
	background-repeat: no-repeat;
	border-color: transparent !important;
	border-width: 0px !important;
	border-style: none !important;
	padding:2px 3px 1px 3px !important;
	height:15px !important;
}

.sliderquestion input[type=text] {
	width:62px !important;
}
*/
#loanform .sliderquestion div#sl0base, #loanform .sliderquestion div#sl1base, #loanform .sliderquestion div#sl2base {
	border-color: transparent !important;
	border-width: 0px !important;
	border-style: none !important;
	background-image: url('../Images/IE-scroller-bkg.gif') !important;
	background-repeat: no-repeat;
	padding:1px 0px 0px 1px !important;
	width:381px !important;
	height:17px !important;
}

.fb-like {
	width: 130px !important;
	height: 30px !important;
	margin-top: 5px !important;
	float: right !important;
	overflow: hidden ;
}

.fb-like iframe {
	width: 600px !important;
	height: auto !important;
}

#fb-icon {
    clear: right;
    float: right;
    margin-left: 4px;
    margin-top: 5px;
}