/* -------------------------------------------------------------------
Theme style for Glasgow wee loans
----------------------------------------------------------------------
Author: Sameera, Gayeshan for KeeleSoft Limited
		Birdinkweb.com | KeeleSoft.com
Version: 2.0.1.6;
Date: August 2016;
Origin: LK+UK;
---------------------------------------------------------------------- */


/* ---------------------------------------------------------------------- */
/*	General Styling
/* ---------------------------------------------------------------------- */


body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	background: #ececee;
}

p,a {
	color: #57575a;
	font-size: 13px;
}

a {
	outline: none;
}

a:hover {
	color: #00a79d;
}

ul li {
	color: #57575a;
}

h4 {
	font-size: 16px;
}

.no-padding {
	padding: 0!important;
}

table tr th.cuokcolumn {
	text-align: left;
}

table tr td.cuokcolumn {
	border-right: 1px solid #ccc;
}

#mobile-menu {
	display: none;
}

#mobile-menu .slicknav_nav {
	position: relative;
	z-index: 999;
	border: 1px solid #00a79d;
}

#mobile-menu .slicknav_nav li {
	display: block;
	padding-left: 0;
	border: 0;
}

#mobile-menu .slicknav_nav li a {
 	color: #575757;
 	padding: 10px;
 	font-size: 13px;
 }

#mobile-menu .slicknav_nav li a:hover {
	color: #fff;
}

.site-wrapper {
	background: #fff;
	margin-top: 10px;
}

.hero-slider {
	display: none;
}

.primary-header {
	position: relative;
	height: 100%;
	min-height: 195px;
}

.logo {
	padding: 20px 0;
	margin: 0;
	line-height: 1;
	width: 100%;	
	height: 195px;
}

.logo a {
	display: block;
}

.logo img {
	position: relative;
	z-index: 100;
	max-width: 155px;
}

.logo-overlay {
	position: absolute;
	height: 100%;
	width: 20px;
	background: #fff;
	display: block;
	left: 0;
	top: 0;
	z-index: 50;
}

.logo .slogan {
	position: absolute;
	right: 65px;
	bottom: 30px;
	text-align: right;
	font-size: 18px;
	color: #fff;
	font-weight: bold;
	padding-right: 10px;
	z-index: 150;
}

	.logo:before {
		position: absolute;
		content: " ";
		width: 100%;
		max-width: 674px;
		line-height: 35px;
		height: 35px;
		background: #00a79d;
		right: 64px;
		bottom: 20px;		
		z-index: 0;
	}

	.logo:after {
		background: transparent url('../Images/branding/logo-thumb.png') no-repeat center;
		position: absolute;
		content: " ";
		width: 42px;
		height: 50px;
		display: block;
		right: 20px;
		bottom: 21px;
		background-size: cover
	}


.wee-slogan {
	position: relative;
	text-align: right;
	margin-top: 25px;
	padding-right: 55px;
}

.hero-slider .item {
	margin-bottom: 20px;	
}	

.primary-navigation {
	/*position: relative;*/
}

.primary-navigation ul {
	text-align: right;
}

.primary-navigation ul li {
	display: inline-block;
	padding-left: 5px;
	border-left: 1px solid #57575a;
	line-height: 1;
}

.primary-navigation ul li:first-child {
	border-left: 0;
}

.primary-navigation ul li a {
	font-size: 13px;
	color: #57575a;
}

.primary-navigation ul li a.current,
.primary-navigation ul li a:hover {
	color: #e20076;
}

.main-menu {
	margin: 30px 0 0;
}

.featured-image {
	display: block;
}

.primary-content {
	clear: both;
	overflow: hidden;
	padding: 10px 0;
}

/* Footer logos */
.sponsor-logos.right {
	padding-top: 20px;
}