﻿<%@ master language="VB" inherits="MasterPageHeaderOnly, App_Web_02hfzvzt" %>
<%@ Register assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagprefix="ajaxToolkit" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<title>Pollok Credit Union - Online Services</title>   
<link href="../scu.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body onLoad="MM_preloadImages('../Images/Home2.jpg','../Images/Become%20a%20member2.jpg','../Images/Join%20CU%20online2.jpg','../Images/Apply%20for%20loan2.jpg','../Images/Open%20Current%20AC2.jpg','../Images/Forgotten%20password2.jpg','../Images/Home2.jpg','../Images/Apply%20for%20loan2.jpg','../Images/Change%20log-in2.jpg','../Images/Change%20address2.jpg','../Images/Messages2.jpg','../Images/Open%20Current%20AC2.jpg','../Images/Paper%20statement2.jpg','../Images/Transfers2.jpg','../Images/Revolving%20loan2.jpg')">
    <form id="form1" runat="server">
    <div>
        <ajaxToolkit:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server">
</ajaxToolkit:ToolkitScriptManager>
    </div>
    <table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td><table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td>&nbsp;</td>
        <td width="177">&nbsp;</td>
        <td width="443" valign="bottom">&nbsp;</td>
      </tr>
      <tr>
        <td width="240"><img src="../Images/POLLOK.jpeg" width="200" height="100"></td>
        <td colspan="2"><div align="right" class="Button style15">
          <table width="400" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="400" valign="top"><table width="400" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="185">&nbsp;</td>
                    <td width="215" height="100"><div align="right" class="Button">
                        <div align="center"></div>
                    </div></td>
                  </tr>
                </table>
                  <div align="right" class="style34 style35">
                    <div align="right" class="style36"></div>
                </div></td>
            </tr>
          </table>
            </div></td>
      </tr>
    </table>
    <div align="center"></div></td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="30"><div align="center"><img src="../Images/Line.jpg" width="860" height="2"></div></td>
  </tr>
  </table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td>
        <table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top">
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
                </td>
      </tr>
    </table></td>
  </tr>
</table>
        </td>
  </tr>
</table>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="70" valign="top"><table width="860" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" valign="top"><p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="30"><img src="../Images/Line.jpg" width="860" height="2"></td>
      </tr>
      <tr>
        <td height="30" valign="top" class="BodyText1 style23 style44">Pollok Credit Union is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority Firm No: 213798. We are members of the Financial Services Compensation Scheme and The Financial Ombudsman Service. Registered Office, Silverburn, Unit W13, 763 Barrhead Road, Glasgow, G53 6QR.</td>
      </tr>
      <tr>
        <td height="10" valign="top" class="BodyText1 style23 style44">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
<p class="BodyText">&nbsp;</p>
</form>
</body>
</html>
