﻿<%@ control language="VB" autoeventwireup="false" inherits="MenuStaff_1, App_Web_02hfzvzt" %>
<link href="../scu2.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .style1
    {
        height: 25px;
    }
</style>
<table width="130" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="25" class="Button"><span class="style2 style49"> 
                <a href="StaffHome.aspx" class="Button">Home</a></span></td>
          </tr>  
          <tr id="menuCUOKLoans" runat="server">
            <td height="25" class="style57"><a href="StaffPDLoans.aspx" 
                    class="Button">WeeLoans </a></td>
          </tr>
          <tr id="menuALPS" runat="server">
            <td height="25" class="style57"><a href="StaffALApplications.aspx" 
                    class="Button">WeeLoan Repeat </a></td>
          </tr>                      
          <tr id="menuFiles" runat="server">
            <td height="25" class="Button"><span class="style57">
                <a href="StaffFileDownloads.aspx" class="Button">File downloads </a></span></td>
          </tr>          
          <tr id="menuSagePays" runat="server">
            <td height="25" class="style57"><span class="style57">
                <a href="StaffWorldPayments.aspx" class="Button">WorldPay payments </a></span></td>
          </tr>
          <tr id="menuSageColl" runat="server">
            <td height="25" class="style57"><span class="style57">
                <a href="StaffViewWorldCollections.aspx" target="_SageCollections" class="Button">WorldPay collections </a></span></td>
          </tr>
          <tr id="menuCreditLimits" runat="server">
            <td height="25" class="style57"><span class="style57">
                <a href="StaffViewCreditLimits.aspx" class="Button">Credit Limits </a></span></td>
          </tr>  
          <tr id="menuCUStats" runat="server">
            <td class="style1"><span class="style57">
                <a href="StaffCUStats.aspx" class="Button">CU Usage Stats </a></span></td>
          </tr>                  
          <tr id="menuReports" runat="server">
            <td class="style1"><span class="style57">
                <a href="StaffReportSelector.aspx" class="Button">Reports </a></span></td>
          </tr>          
          <tr id="menuPassword" runat="server">
            <td class="style1"><span class="style57">
                <a href="StaffChangePassword.aspx" class="Button">Change password </a></span></td>
          </tr>                   
          <tr>
            <td height="28" class="style89">...........................................</td>
          </tr>
          <tr>
            <td height="25" class="Button"><span class="style57">
                <a href="StaffHome.aspx?a=logout" class="Button">Log out </a></span></td>
          </tr>          
          <tr>
            <td height="28" class="style90">...........................................</td>
          </tr>
          <tr>
            <td height="28" class="Button">&nbsp;</td>
          </tr>
        </table>

