/* -------------------------------------------------------------------
Theme style for Glasgow wee loans - Responsive style
----------------------------------------------------------------------
Author: Sameera, Gayeshan for KeeleSoft Limited
		Birdinkweb.com | KeeleSoft.com
Version: 2.0.1.6;
Date: August 2016;
Origin: LK+UK;
---------------------------------------------------------------------- */


@media only screen and (min-width: 0em) and (max-width: 64em) {
	.site-wrapper { margin-top: 0;}
	.speech .boxicon.green {
		bottom: 0;
	}
}

@media only screen and (min-width: 0em) and (max-width: 53.5em) {
	#mmenu {display: none;}
	#mobile-menu {
		display: block;
		margin-top: 25px;
		position: absolute;
		right: 20px;
		top: 0;
		width: 100%;
		max-width: 250px;
	}

	.wee-slogan {
		position: absolute;
		right: 0;
		top: 40px;
	}	
}

@media only screen and (min-width: 0em) and (max-width: 40em) {

	.comparison .regularcost {
		width: 100%;
		left: 0;
		top: 146px;
	}

	.comparison .regularcost span {
		padding: 0;
		font-size: 16px;
	}

	#pageintro p {
		font-size: 25px;
	}

	#pageintro img {
		margin-bottom: 20px;
		float: none;
		display: block;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

}

@media only screen and (min-width: 26em) and (max-width: 64em) {
	.wee-slogan {
		position: absolute;
		right: 0;
	}

	.primary-navigation ul li {
		padding-left: 3px;
	}
}

@media only screen and (min-width: 26em) and (max-width: 40em) {
	/*#pageintro p {
		font-size: 25px;
	}*/
}

@media only screen and (min-width: 0em) and (max-width: 26em) {
	.wee-slogan {
		font-size: 16px;
	}

	.wee-slogan {
		top: 50px;
		right: 0;
		padding-right: 20px;
	}

	#sub {
		font-size: 16px;
	}

	/*#pageintro p {
		font-size: 18px;
	}

	#pageintro img {
		width: 90%;
		position: relative;
		bottom: -20px;
	}*/
}

@media only screen and (min-width: 0em) and (max-width: 31em) {
	/*.logo:before {
		font-size: 12px;
		width: 300px;
	}*/
	.logo .slogan {
		font-size: 12px;
	}
}

@media only screen and (min-width: 0em) and (max-width: 25.5em) {
	/*.logo:before {
		width: 160px;
		font-size: 12px;
		z-index: 1000;
	}*/
}