*
{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
}

body { background-color: #ececee; }

#wrapper
{
	width: 900px;
	margin: 10px auto;
	background-color: #ffffff;
}

#headwrapper { padding: 20px 20px 85px 14px; }
#title { float: left; }

#title h1 a
{
	background-image: url('../images/wee-glasgow-loan-logo.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	width: 154px;
	height: 155px;
	text-indent: -9999px;
	overflow: hidden;
}

#mainnav { float: right; }

#mainnav ul
{
	list-style-type: none;
	list-style-position: inside;
}

#mainnav ul li
{
	float: left;
	font-size: 0.75em;
	font-weight: bold;
	border-left: 1px solid #57575a;
}

#mainnav ul li:first-child { border-left: 0px none transparent; }

#mainnav ul a
{
	text-decoration: none;
	display: block;
	padding: 1px 4px;
}

#mainnav ul a:link { color: #57575a; }
#mainnav ul a:visited { color: #57575a; }
#mainnav ul a:active { color: #FBC34E; }
#mainnav ul a:hover, #mainnav ul a.current { color: #FBC34E; }

#subwrapper
{
	clear: both;
	text-align: right;
	padding: 10px 0px 0px 0px;
}

#sub
{
	font-size: 1.125em;
	font-weight: bold;
	color: #491966;
}

.redtext {
	color: #db032e;
}

#contentwrapper { padding: 5px 20px; }
#content { }
#contentheader { }

h2
{
	font-size: 1.125em;
	font-weight: bold;
	color: #ffffff;
	padding: 10px 14px 5px 14px;
	background-color: #00a79d;
	margin-bottom: 25px;
}

h3
{
	font-size: 0.8125em;
	font-weight: bold;
	color: #491966;
	margin-bottom: 10px;
}

h4
{
	font-size: 0.8125em;
	font-weight: bold;
	color: #e20076;
	margin-bottom: 10px;
}

h6
{
	font-size: 0.75em;
	font-weight: bold;
	color: #db032e;
	margin-bottom: 10px;
}

p
{
	font-size: 0.8125em;
	color: #57575a;
	line-height: 1.25em;
	margin-bottom: 10px;
}

#footer p {
	font-size: 0.75em;
}

strong { font-weight: bold; }


hr
{
	clear: both;
	border-color: #B3B3B3 transparent transparent transparent;
	border-width: 2px 0px 0px 0px;
	border-style: dotted none none none;
	margin-bottom: 15px;
}

.columnleft
{
	width: 460px;
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
}

.columnright
{
	width: 370px;
	float: left;
	margin-bottom: 30px;
}

#contentmain { }

#footerwrapper
{
	clear: both;
	padding: 20px;
}

#footer { }

table
{
	border-collapse: collapse;
	margin-bottom: 10px;
	border: 0px none transparent;
}

table tr, table th, table td { border: 0px none transparent; }

.grey table { background-image: url('../Images/table-grey-bottom.gif'); }
.green table { background-image: url('../Images/table-green-bottom.gif'); }
.yellow table { background-image: url('../Images/table-yellow-bottom.gif'); }

.grey { background-image: url('../Images/table-grey-top.gif'); }
.green { background-image: url('../Images/table-green-top.gif'); }
.yellow { background-image: url('../Images/table-yellow-top.gif'); }

.data
{
	background-repeat: no-repeat;
	background-position: center top;
	padding-top:4px;
}

.data table
{
	width: 370px;
	background-position: center bottom;
	background-repeat: no-repeat;
}

.data table tr
{
	background-image: url('../Images/table-divider.gif');
	background-position: center top;
	background-repeat: no-repeat;
}

.data table tr:first-child
{
	background-image: url('none');
}

.data table th, .data table td
{
	padding: 8px 12px;
	font-size: 0.8125em;
	color: #57575a;
	text-align: right;
}

.data table th:first-child, .data table td:first-child { text-align: left; }

/* form */

label
{
	font-size: 0.8125em;
	font-weight: bold;
	color: #1a171a;
}

input[type=text]
{
    font-size: 0.8125em;
	font-weight: bold;
	color: #57575a;
	border: 1px solid #B3B3B3 !important;
	border-radius: 6px;
	background-image: url('../Images/input-bkg.gif');
	background-repeat: repeat-x;
	padding:2px 3px 0px 3px;
	height:14px;
}

.sliderquestion {
	margin-bottom:2px;
}

.sliderquestion label {
	display:block;
	clear:both;
	margin-bottom:10px;
}

.sliderquestion input[type=text] {
	text-align:right;
	width:60px;
}


/* sliders */
div#sl0base, div#sl1base, div#sl2base {
	float:left;
	border:1px solid #B3B3B3 !important;
	border-radius:6px;
	margin-right:10px;
}

table.formtable {
	width: 410px;
	margin-bottom:20px;
}

table.formtable th, table.formtable td
{
	padding: 8px 0px;
	font-size: 0.8125em;
	color: #57575a;
	text-align: right;
	vertical-align: middle;
}
table.formtable th:first-child, table.formtable td:first-child { text-align: left; }


table.formtable th, table.formtable td
{
	border-top:0px solid #B3B3B3;
	border-bottom:0px solid #B3B3B3;
}

table.formtable th:last-child, table.formtable td:last-child { 
	border-top:0px none transparent;
	border-bottom:0px none transparent;
}

table.formtable td label {
	font-size:1em;
	font-weight:normal;
	color:#57575a;
}

input[type=radio] {
	margin:0px 3px;
}

input[type=radio] + label {
	color:#70A923;
}

a.helplink
{
	float:right;
	text-decoration:none;
	display: block;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
	font-size: 1.25em;
	background-image: url('../Images/question-bkg.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding:4px 0px 0px 1px;
	width:24px;
	height:21px;
}

button
{
	background-color: #9C0;
	background-image: url('../Images/button-bkg.gif');
	background-repeat: no-repeat;
	background-position: left top;
	border:none;
	color:#ffffff;
	font-weight:bold;
	font-size:0.8125em;
	width:135px;
	height:24px;
	cursor:pointer;
}
.slider_rail
{
	color: #57575a;
	background-image: url('../Images/input-bkg.gif');
	background-repeat: repeat-x;
	position: relative;
    height: 14px;
    width: 350px;  
	border:1px solid #B3B3B3 !important;
	border-radius:6px;
	margin-right:10px;
}
.slider_handle
{
    position: absolute;
    height: 14px;
    width: 75px;
}

.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}
#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}
/* - | - */

.BodyText {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #333333;
	width: 465px;
}

.style37 {color: #FFFFFF;
          font-weight:bold;
          }
          
#fb-icon {
    clear: right;
    float: right;
    margin-left: 4px;
    margin-top: 20px;
}

.fb-like {
	width: 130px;
	height: 25px;
	margin-top: 20px;
	float: right;
	overflow: hidden;
	display:block;
}
.fb-like iframe {
    width: 130px !important;
    height: 25px !important;
}
#psmall
{
	font-size: 9px;
	color: #57575a;	
}